In [0]:
# !pip install kaggle

In [0]:
# !export KAGGLE_USERNAME=aksh98
# !export KAGGLE_KEY=260ed3247d4ea89457e054b1cb1b9892
# {"username":"aksh98","key":"260ed3247d4ea89457e054b1cb1b9892"}

In [0]:
# !kaggle competitions download -c icdar2013-gender-prediction-from-handwriting

In [0]:
##  Source: 
# https://www.researchgate.net/profile/Marcus_Liwicki/publication/228777858_Automatic_Detection_of_Gender_and_Handedness_from_On-Line_Handwriting/links/0c9605327ee2f4267f000000.pdf
## 

# 2 Algorithms used:
# SVM - Classification
# GMM - Generative - to model the distribution of features of each class

In [1]:
from sklearn import svm
import pandas as pd
import numpy as np
import sklearn
from pandas import DataFrame as df
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

print("Done")

Done

In [82]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [83]:
%cd drive/My Drive/Colab Notebooks
%cd Assignments_sem7/
!ls
%cd IA_Project

[Errno 2] No such file or directory: 'drive/My Drive/Colab Notebooks'
/content/drive/My Drive/Colab Notebooks/Assignments_sem7/IA_Project
[Errno 2] No such file or directory: 'Assignments_sem7/'
/content/drive/My Drive/Colab Notebooks/Assignments_sem7/IA_Project
101_150  251_300  51_100				     train_answers.csv
1_50	 301_350  Gender_prediction_using_handwriting.ipynb  train.csv
151_200  401_450  test_answers.csv
201_250  451_475  test.csv
[Errno 2] No such file or directory: 'IA_Project'
/content/drive/My Drive/Colab Notebooks/Assignments_sem7/IA_Project

In [84]:
!ls

101_150  251_300  51_100				     train_answers.csv
1_50	 301_350  Gender_prediction_using_handwriting.ipynb  train.csv
151_200  401_450  test_answers.csv
201_250  451_475  test.csv

In [85]:
y_tt = pd.read_csv('test_answers.csv')
print(y_tt.head())
print("SIZE - ",y_tt.shape)
y_tt.drop(['Usage'],inplace = True, axis=1)
y_test = y_tt.loc[y_tt.index.repeat(4)].reset_index(drop=True)
y_test.drop(['writer'],inplace = True, axis=1)
print(y_test.shape)
y_test.head()

   writer  male        Usage
0     283     1  PrivateTest
1     284     0   PublicTest
2     285     0  PrivateTest
3     286     0   PublicTest
4     287     1   PublicTest
SIZE -  (193, 3)
(772, 1)

   male
0     1
1     1
2     1
3     1
4     0

In [86]:
y_t = pd.read_csv('train_answers.csv')
# print(y_train.head())
print(y_t.shape)
print(y_t.head())
y_train = y_t.loc[y_t.index.repeat(4)].reset_index(drop=True)
print(y_train.shape)
print(y_train.head())
y_train.drop(['writer'],inplace = True, axis=1)
# y_train.shape
y_train.head()

(282, 2)
   writer  male
0       1     0
1       2     0
2       3     0
3       4     0
4       5     1
(1128, 2)
   writer  male
0       1     0
1       1     0
2       1     0
3       1     0
4       2     0

   male
0     0
1     0
2     0
3     0
4     0

In [87]:
x_train = pd.read_csv('train.csv')
x_train.drop(['language'],inplace = True, axis=1)
x_train.drop(['writer','same_text','page_id'],inplace = True, axis=1)
x_train.shape

(1128, 7066)

In [88]:
x_train.head()

,tortuosityHist10[0],tortuosityHist10[1],tortuosityHist10[2],tortuosityHist10[3],tortuosityHist10[4],tortuosityHist10[5],tortuosityHist10[6],tortuosityHist10[7],tortuosityHist10[8],tortuosityHist10[9],...,directions_hist1a2a3a4a5a6a7a8a9a10_220[210],directions_hist1a2a3a4a5a6a7a8a9a10_220[211],directions_hist1a2a3a4a5a6a7a8a9a10_220[212],directions_hist1a2a3a4a5a6a7a8a9a10_220[213],directions_hist1a2a3a4a5a6a7a8a9a10_220[214],directions_hist1a2a3a4a5a6a7a8a9a10_220[215],directions_hist1a2a3a4a5a6a7a8a9a10_220[216],directions_hist1a2a3a4a5a6a7a8a9a10_220[217],directions_hist1a2a3a4a5a6a7a8a9a10_220[218],directions_hist1a2a3a4a5a6a7a8a9a10_220[219]
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,...,0.002457,0.002633,0.002698,0.002929,0.003014,0.003225,0.003572,0.003957,0.004232,0.004804
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,...,0.002498,0.002641,0.002836,0.002999,0.003246,0.003456,0.003709,0.003994,0.004308,0.004706
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,...,0.002090,0.002440,0.002831,0.003078,0.003438,0.003732,0.004100,0.004329,0.004687,0.004879
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,...,0.002435,0.002823,0.003117,0.003441,0.003788,0.004056,0.004285,0.004527,0.004843,0.005085
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,...,0.002465,0.002724,0.003079,0.003305,0.003425,0.003403,0.003450,0.003626,0.003977,0.004547

In [89]:
x_test = pd.read_csv('test.csv')
x_test.drop(['language'],inplace = True, axis=1)
x_test.drop(['writer','same_text','page_id'],inplace = True, axis=1)
x_test.shape

(772, 7066)

In [90]:
x_test.head()

,tortuosityHist10[0],tortuosityHist10[1],tortuosityHist10[2],tortuosityHist10[3],tortuosityHist10[4],tortuosityHist10[5],tortuosityHist10[6],tortuosityHist10[7],tortuosityHist10[8],tortuosityHist10[9],...,directions_hist1a2a3a4a5a6a7a8a9a10_220[210],directions_hist1a2a3a4a5a6a7a8a9a10_220[211],directions_hist1a2a3a4a5a6a7a8a9a10_220[212],directions_hist1a2a3a4a5a6a7a8a9a10_220[213],directions_hist1a2a3a4a5a6a7a8a9a10_220[214],directions_hist1a2a3a4a5a6a7a8a9a10_220[215],directions_hist1a2a3a4a5a6a7a8a9a10_220[216],directions_hist1a2a3a4a5a6a7a8a9a10_220[217],directions_hist1a2a3a4a5a6a7a8a9a10_220[218],directions_hist1a2a3a4a5a6a7a8a9a10_220[219]
0,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.002271,0.002299,0.002386,0.002502,0.002622,0.002738,0.002817,0.002870,0.003048,0.003381
1,0.994351,0.005649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.002387,0.002451,0.002527,0.002613,0.002675,0.002746,0.002889,0.002945,0.003114,0.003291
2,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.002395,0.002636,0.002865,0.003035,0.003215,0.003402,0.003730,0.003870,0.004187,0.004385
3,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.002341,0.002563,0.002840,0.003072,0.003387,0.003650,0.003881,0.004138,0.004435,0.004678
4,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.002134,0.002426,0.002851,0.003184,0.003554,0.003918,0.004146,0.004530,0.004865,0.005171

In [92]:
x_train = x_train.values
y_train = y_train.values
y_train = y_train.ravel()
y_train = np.array(y_train).astype(int)
x_train = np.array(x_train).astype(float)
print(y_train.shape,x_train.shape)
print(np.dtype(x_train[0][0]))

(1128,) (1128, 7066)
float64

In [0]:
y_test = y_test.values
x_test = x_test.values

In [96]:
clf = svm.SVC(kernel='rbf')
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
accuracy = accuracy_score(y_test, pred)
print("accuracy: ",accuracy)

accuracy:  0.5751295336787565

In [0]:
from sklearn.decomposition import PCA